{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier", "solid", "unused-imports"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "no-console": 2, // Means warning
    "prettier/prettier": 2, // Means error
    "@typescript-eslint/explicit-member-accessibility": 2,
    "no-unused-vars": "warn", // or "@typescript-eslint/no-unused-vars": "off",
    "unused-imports/no-unused-imports": "error"
  }
}
